/TrabalhoFinalDSW/nbproject/private/
/TrabalhoFinalDSW/build/
/API_REST/API_REST_DSW/nbproject/private/
/API_REST/API_REST_DSW/build/
/API_REST/API_REST_DSW/dist/
front-end-dsw/.idea/workspace.xml
front-end-dsw/.idea/workspace.xml
API_REST/API_REST_DSW/nbproject/ant-deploy.xml
API_REST/API_REST_DSW/nbproject/ant-deploy.xml
API_REST/API_REST_DSW/src/.DS_Store
API_REST/API_REST_DSW/src/imagens/.DS_Store
API_REST/API_REST_DSW/src/java/WebService/UsuarioResource.java
API_REST/API_REST_DSW/web/.DS_Store
API_REST/API_REST_DSW/web/WEB-INF/.DS_Store
API_REST/API_REST_DSW/web/WEB-INF/glassfish-resources.xml
API_REST/API_REST_DSW/src/conf/persistence.xml
