/TrabalhoFinalDSW/nbproject/private/
/TrabalhoFinalDSW/build/
/API_REST/API_REST_DSW/nbproject/private/
/API_REST/API_REST_DSW/build/
/API_REST/API_REST_DSW/dist/
front-end-dsw/.idea/workspace.xml
front-end-dsw/.idea/workspace.xml
